.title {
  display: block;
  text-align: center;
  margin: 20px 10px;
}

.panel-control {
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 10px;
  margin: 10px auto;
}

.panel-control input {
  width: 60%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.panel-control a {
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background-color: green;
  color: #fff;
  opacity: 0.9;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}

.panel-control a:hover {
  opacity: 1;
}

@media (min-width: 1024px) {
  .panel-control {
    width: 80%;
  }
}
