.client-container {
  /* border: 1px dashed red; */
  width: 90%;
  margin: 10px auto;
}

.client-container h3 {
  font-size: 1rem;
  text-align: center;
  padding: 10px 5px;
  margin: 10px 0 5px;
  background-color: #3a7bd5;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.client-container p {
  padding: 5px 10px;
}

.client-container span {
  font-weight: 900;
}

@media (min-width: 1024px) {
  .client-container {
    width: 70%;
  }
}
