.equipo-container {
  /* border: 1px dashed red; */
  width: 90%;
  margin: 10px auto;
}

.equipo-container h3 {
  font-size: 1rem;
  text-align: center;
  padding: 10px 5px;
  margin: 10px 0 5px;
  background-color: #3a7bd5;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.equipo-container p {
  padding: 5px 10px;
}

.equipo-container span {
  font-weight: 900;
}

.equipo-container ul {
  padding-left: 80px;
}

.equipo-container li {
  padding: 5px 0px;
}

@media (min-width: 1024px) {
    .equipo-container {
      width: 70%;
    }
  }