.client-container {
  /* border: 1px dashed red; */
  width: 90%;
  margin: 10px auto;
}

.client-container h3 {
  font-size: 1rem;
  text-align: center;
  padding: 10px 5px;
  margin: 10px 0 5px;
  background-color: #3a7bd5;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
}

.client-container p {
  padding: 5px 10px;
}

.client-container span {
  font-weight: 900;
}

.nuevo-contrato {
  /* border: 1px dashed red; */
  padding: 10px 0px;
  margin-top: 10px;
}

.nuevo-contrato a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: green;
  padding: 7px;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.table-container {
  /* border: 1px dashed red; */
  width: 100%;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .client-container {
    width: 70%;
  }

  .table-container {
    margin-bottom: 0px;
  }

  .nuevo-contrato a {
    position: static;
    float: right;
  }
}
