* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #3a7bd5; */
  background: -webkit-linear-gradient(
    to left,
    #3a6073,
    #3a7bd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #3a6073,
    #3a7bd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header__logo a img {
  display: block;
  width: 125px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 15px 5px rgba(255, 255, 255, 0.6);
  margin: 5px 10px;
}

aside {
  /* border: 1px dashed red; */
  height: 100vh;
  width: 80%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.9);
}

.logo-navbar-container {
  height: 100%;
  position: relative;
}

.aside__logo {
  display: none;
}

.nav-bar {
  /* border: 3px dashed white; */
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: auto;
}

.nav-bar li {
  margin-top: 15px;
}

.nav-bar a {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: white;
}

.nav-bar .dropdown-btn {
  cursor: pointer;
}

.dropdown-container {
  display: none;
}

.dropdown-container a {
  /* border: 1px dashed red; */
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}

.dropdown-container .fa-caret-right {
  padding-left: 10px;
  padding-right: 20px;
}

.dropdown-btn .fa-caret-down {
  float: right;
  padding-left: 12px;
}

.fa-caret-right {
  float: left;
}

.nav-bar .search-item {
  display: none;
}

.open-menu,
.close-menu,
.search-icon {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #fdfdfd;
  margin: 10px;
}

.close-menu {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.search-icon {
  margin: 0;
}

.search-icon a {
  color: #fdfdfd;
}

.user-info {
  /* border: 1px dashed red; */
  position: absolute;
  width: 100%;
  bottom: 3rem;
}

.user-info p, a {
  /* border: 1px dashed blue; */
  display: block;
  color: white;
  font-size: 1.10rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.user-info i {
  margin-left: 5px;
}

.dropdown-btn-logout {
  position: relative;
}

.dropdown-logout {
  display: none;
  background-color: #3a6073;
  padding: 5px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.user-info:hover .dropdown-logout {
  display: block;
}

.visible {
  left: 0;
  transition: all 0.4s ease-in-out;
}

.active {
  background-color: green;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .open-menu,
  .close-menu {
    display: none;
  }

  header {
    display: none;
  }

  .main-container {
    display: flex;
  }

  aside {
    height: 100vh;
    width: 20%;
    position: sticky;
    background-image: url("/images/BlueBackground.webp");
  }

  .logo-navbar-container {
    /* border: 1px dashed red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .aside__logo {
    /* border: 1px dashed red; */
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .aside__logo a img {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.6);
  }

  .nav-bar {
    padding: 0 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .nav-bar li {
    width: 100%;
  }
  
  .nav-bar a {
    font-size: 1.25rem;
    padding: 5px 20px;
    border-radius: 10px;
  }

  .nav-bar .search-item {
    display: block;
  }

  .nav-bar a:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .dropdown-container a {
    font-size: 16px;
    text-align: left;
  }

  .user-info {
    /* border: 1px dashed red; */
    padding: 20px;
    bottom: 15px;
  }

  .main-content {
    width: 80%;
    /* border: 3px dashed blueviolet; */
  }
}
