* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3a7bd5;
}

.header-logo a img {
  display: block;
  width: 125px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 15px 5px rgba(255, 255, 255, 0.6);
  margin: 5px 10px;
}

aside {
  /* border: 1px solid red; */
  height: 100%;
  width: 80%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 1);
}

.logo-navbar-user-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: none;
}

.nav-bar {
  /* border: 1px dashed white; */
  width: 100%;
  list-style: none;
  margin-top: 30px;
  padding: 0px 25px 0px 10px;
}

.nav-bar li {
  margin-top: 10px;
}

.nav-bar a {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  color: white;
}

.nav-bar .dropdown-btn {
  cursor: pointer;
}

.dropdown-container {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.dropdown-container.dropdown-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.dropdown-container a {
  /* border: 1px dashed red; */
  font-size: 16px;
  text-align: left;
  padding: 10px;
  margin-top: 10px;
}

.dropdown-container .fa-caret-right {
  padding-left: 10px;
  padding-right: 20px;
}

.dropdown-btn .fa-caret-down {
  float: right;
  padding-left: 12px;
}

.fa-caret-right {
  float: left;
}

.nav-bar .search-item {
  display: none;
}

.open-menu,
.close-menu {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: #fdfdfd;
  margin: 10px;
}

.close-menu {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.user-dropdown {
  /* border: 1px dashed red; */
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.user-dropdown button {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 1.25rem;
  padding: 10px;
  cursor: pointer;
}

.user-dropdown-content {
  /* border: 1px dashed blue; */
  width: 80%;
  margin: 0 auto;
  background-color: whitesmoke;
  color: #3a7bd5;
  position: absolute;
  top: -80px;
  left: 30px;
  z-index: 1;
  display: none;
}

.user-dropdown-content-logout { top: -40px; }

.user-dropdown-content a {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-weight: bolder;
}

.user-dropdown:hover .user-dropdown-content {
  display: block;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.user-dropdown-content a:hover { background-color: #ddd; }

.visible {
  left: 0;
  transition: all 0.4s ease-in-out;
}

.active {
  background-color: green;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  .open-menu,
  .close-menu {
    display: none;
  }

  header {
    display: none;
  }

  .main-container {
    display: flex;
  }

  aside {
    height: 100vh;
    width: 20%;
    position: sticky;
    background-image: url("/images/BlueBackground.webp");
  }

  .logo {
    /* border: 1px dashed red; */
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .logo a img {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 1px 1px 15px 1px rgba(255, 255, 255, 0.6);
  }

  .nav-bar {
    padding: 0 10px;
    margin: 30px 0px 0px 0px;
  }

  .nav-bar li {
    width: 100%;
  }
  
  .nav-bar a {
    font-size: 1.25rem;
    padding: 5px 20px;
    border-radius: 10px;
  }

  .nav-bar .search-item {
    display: block;
  }

  .nav-bar a:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .dropdown-container a {
    font-size: 16px;
    text-align: left;
  }

  .main-content {
    width: 80%;
    /* border: 3px dashed blueviolet; */
  }
}
