<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/detalleCliente.css">
    <title>REDNOR - Cliente <%= id %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('../partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
        <div class="client-container">
          <h3 class="client-container__title">Informacion del Cliente</h3>
          <div class="client-container__data">
            <div>
              <h4>Personal</h4>
              <hr>
              <p>Nombre: Elon Musk</p>
              <p>Tipo: Particular</p>
            </div>
            <div>
              <h4>Contacto</h4>
              <hr>
              <p>Email: cliente@email.com</p>
              <p>Telefono: 385123123123</p>
              <p>Ciudad: Santiago del Estero</p>
              <p>Direccion: Av. Belgrano 123</p>
            </div>
            <div>
              <h4>Alquileres</h4>
              <hr>
              <p>Equipo: 101</p>
              <p>Equipo: 202</p>
            </div>
          </div>
          
        </div>
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
