<!-- ASIDE -->
<aside class="aside-menu">
  <span class="close-menu">
    <i class="fa-solid fa-xmark"></i>
  </span>

  <!-- LOGO -->
  <div class="logo-navbar-container">
    <div class="aside__logo">
      <a href="/">
        <img src="/images/RednorLogo.png" alt="Logo de Rednor">
      </a>
    </div>
    <!-- FIN LOGO -->

    <!-- BARRA DE NAVEGACION -->
    <ul class="nav-bar">
      <li>
        <a href="/clientes"><i class="fa-solid fa-user"></i> Clientes</a>
      </li>
      <li>
        <a href="/equipos"><i class="fa-solid fa-print"></i> Equipos</a>
      </li>
      <li>
        <a href="/alquileres"><i class="fa-solid fa-clipboard"></i> Alquileres</a>
      </li>
      <li>
        <a href="/repuestos"><i class="fa-solid fa-screwdriver-wrench"></i> Repuestos</a>
      </li>
      <li>
        <a href="/taller"><i class="fa-solid fa-screwdriver-wrench"></i> Taller</a>
      </li>
      <!-- <li class="search-item">
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Buscar</a>
      </li> -->
      <li>
        <a href="#"><i class="fa-solid fa-circle-info"></i> Otro</a>
      </li>
    </ul>
    <!-- FIN BARRA DE NAVEGACION -->
  </div>
</aside>
<!-- FIN ASIDE -->
