<!-- HEADER -->
<header>
  <div>
    <span class="open-menu">
      <i class="fa-solid fa-bars"></i>
    </span>
  </div>
  <div class="header-logo">
    <a href="/">
      <img src="/images/RednorLogo.png" alt="Logo de Rednor">
    </a>
  </div>
</header>
<!-- FIN HEADER -->
