  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Rednor</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
       <% if (locals.isLogged) { %>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="overflow: visible;">
          <div class="image">
            <img src="/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info dropdown" style="overflow: visible; position: relative;" >
            <a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <%= locals.userLogged.nombre %> <%= locals.userLogged.apellido %>
            </a>
            <div class="dropdown-menu bg-dark">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="/usuarios/logout">Cerrar Sesion</a>
            </div>
          </div>
        </div>
       <% } else { %>
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="/img/avatar4.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="/usuarios/login" class="d-block">Iniciar Sesion</a>
          </div>
        </div>
       <% } %>
      <!-- SidebarSearch Form -->
      <div class="form-inline mt-3">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2 mb-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <% if (locals.isLogged) { %>
           <% if (locals.userLogged.id_rol === 1) { %>
            <li class="nav-item">
              <a href="/admin/usuarios" class="nav-link">
                <i class="nav-icon fas fa-user-shield"></i>
                <p>Admin</p>
              </a>
            </li>
           <% } %>
          <% } %>
          <li class="nav-item">
            <a href="/clientes" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>Clientes</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/equipos" class="nav-link">
              <i class="nav-icon fas fa-print"></i>
              <p>Equipos</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-clipboard"></i>
              <p>
                Alquileres
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/alquileres" class="nav-link">
                  <i class="nav-icon far fa-circle"></i>
                  <p>
                    Activos
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/alquileres/finalizados" class="nav-link">
                  <i class="nav-icon far fa-circle"></i>
                  <p>
                    Finalizados
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/repuestos" class="nav-link">
              <i class="nav-icon fas fa-wrench"></i>
              <p>
                Repuestos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                Taller
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/taller" class="nav-link">
                  <i class="nav-icon far fa-circle nav-icon"></i>
                  <p>
                    Equipos Propios
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/taller/externos" class="nav-link">
                  <i class="nav-icon far fa-circle nav-icon"></i>
                  <p>
                    Equipos de Terceros
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="/gastos" class="nav-link">
              <i class="nav-icon fas fa-dollar-sign"></i>
              <p>
                Gastos
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- /. Main Sidebar Container -->