<!-- PLANTILLA PRINCIPAL PARA LA CREACION DE LAS DEMÁS PÁGINAS -->
<!-- La idea de usar esta plantilla es mantener una coherencia en todas las paginas, mostrando siempre la barra lateral y el header en dispositivos móviles, de esta forma se asegura tambien que cumpla con los requisitos para ser responsive -->
<!-- Solo debes copiar y pegar el codigo en un archivo nuevo, y a partir de alli empezar a crear el contenido de tu vista dentro del elemento <section> con clase "main-content" -->
<!-- Dentro de la plantilla head se encuentra enlazada la hoja de estilos main.css, la cual es la hoja de estilos principal que da estilo a los componentes mencionados anteriormente -->
<!-- Tambien están enlazados los iconos y la fuente de la página -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>REDNOR</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <!-- MAIN -->
    <main class="main-container">
      <!-- ASIDE -->
      <%- include('./partials/aside.ejs') %>
      <!-- FIN ASIDE -->

      <!-- CONTENIDO -->
      <section class="main-content">
      <!-- AQUI DENTRO DEBES CREAR TU CONTENIDO HTML! -->
      </section>
      <!-- FIN CONTENIDO -->
    </main>
    <!-- FIN MAIN -->
  </body>
</html>
